In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/NEPSE131.csv")
# df = df.iloc[:1000]

In [3]:
cl="S.N., Contract No, Stock Symbol, Buyer Broker, Seller Broker, Quantity, Rate, Amount, Date"
ncl = cl.split(", ")

In [4]:
ndf = df.rename(columns={df.columns[i]:ncl[i] for i in range(len(ncl))})
ndf

,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount,Date
0,2,126539,NABIL,1,5,15,1880,28200.0,126539
1,3,126455,NABIL,28,28,260,1900,494000.0,126455
2,4,126454,NABIL,28,28,130,1900,247000.0,126454
3,5,126376,NABIL,3,20,1000,1850,1850000.0,126376
4,6,126368,NABIL,103,25,20,1900,38000.0,126368
...,...,...,...,...,...,...,...,...,...
95138,4292,2019010101000426,NABIL,46,38,30,863,25890.0,2019-01-01 01:00:00.042600
95139,4293,2019010101000364,NABIL,42,3,300,863,258900.0,2019-01-01 01:00:00.036400
95140,4294,2019010101000274,NABIL,45,3,50,863,43150.0,2019-01-01 01:00:00.027400
95141,4295,2019010101000160,NABIL,1,3,425,861,365925.0,2019-01-01 01:00:00.016000
95142,4296,2019010101000159,NABIL,45,3,25,861,21525.0,2019-01-01 01:00:00.015900

In [13]:
nndf = ndf.copy()[20000:30000]
nndf["Date"] = pd.to_datetime(ndf["Date"])
nndf.head()

ValueError: day is out of range for month

In [17]:
arr = np.array(ndf.Date.tolist())
truth_value = [len(a)>15 for a in arr]
ind = truth_value.index(True)
sndf=ndf.iloc[ind:]
sndf["Date"] = pd.to_datetime(sndf["Date"])

In [18]:
sndf

,S.N.,Contract No,Stock Symbol,Buyer Broker,Seller Broker,Quantity,Rate,Amount,Date
10636,1,200812310233709,NABIL,20,21,31,3480,107880.0,2008-12-31 02:33:00.709000
10637,2,200812310233683,NABIL,11,17,100,3480,348000.0,2008-12-31 02:33:00.683000
10638,3,200812310233224,NABIL,26,17,27,3550,95850.0,2008-12-31 02:33:00.224000
10639,4,200812310233155,NABIL,18,17,41,3520,144320.0,2008-12-31 02:33:00.155000
10640,5,200812310233058,NABIL,19,22,100,3500,350000.0,2008-12-31 02:33:00.058000
...,...,...,...,...,...,...,...,...,...
95138,4292,2019010101000426,NABIL,46,38,30,863,25890.0,2019-01-01 01:00:00.042600
95139,4293,2019010101000364,NABIL,42,3,300,863,258900.0,2019-01-01 01:00:00.036400
95140,4294,2019010101000274,NABIL,45,3,50,863,43150.0,2019-01-01 01:00:00.027400
95141,4295,2019010101000160,NABIL,1,3,425,861,365925.0,2019-01-01 01:00:00.016000
95142,4296,2019010101000159,NABIL,45,3,25,861,21525.0,2019-01-01 01:00:00.015900